<h1>確認画面</h1>
<div class="view">
  <%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
    <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
    <%= form.hidden_field :image_cache %>
    <%= form.hidden_field :content %>
    <p>本文:<%= @feed.content %></p>
    <%= form.submit('投稿する',class: 'btn btn-primary') %><br>
  <% end %>
  <%= form_with(model:@feed, url:new_feed_path, local:true, method:"get") do |form| %>
    <%= form.hidden_field :image_cache %>
    <%= form.hidden_field :content %><br>
    <%= form.submit('戻る',class: 'btn btn-primary', name: "back") %>
  <% end %>
</div>
